<h1>Gestión de Publicaciones</h1> 
<input type="text" placeholder="Buscar por descripción" [(ngModel)]="busqueda" class="buscador"/>

<button *ngIf="authService.isLoggedIn()" (click)="mostrarFormulario($event)">➕ Añadir Publicación</button>

<table class="publicaciones-table">
  <thead>
    <tr>
      <th *ngIf="authService.isLoggedIn()">Acciones</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publicacion of publicacionesFiltradas">
      <td *ngIf="authService.isLoggedIn()">
        <button *ngIf="authService.isLoggedIn()" (click)="editarPublicacion(publicacion, $event)">✏️ Editar</button>
        <button *ngIf="authService.isLoggedIn()" (click)="eliminarPublicacion(publicacion.result_code)">❌ Eliminar</button>
      </td>
      <td (click)="mostrarDetalles(publicacion)">
        {{ publicacion.result_description }}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="mostrarForm && !editando" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-content">
    <h2>Nueva Publicación</h2>
    <form [formGroup]="publicacionForm" (ngSubmit)="guardarPublicacion()">
      <div class="form-group">
        <label>Descripción:</label>
        <input formControlName="result_description" placeholder="Descripción">
      </div>
      <div class="form-group">
        <label>Fecha de publicación:</label>
        <input formControlName="fecha_publicacion" type="date">
      </div>
      <div class="form-group">
        <label>DOI:</label>
        <input formControlName="doi" placeholder="DOI">
      </div>
        <button type="submit">Guardar</button>
        <button class="back-button" (click)="cerrarFormulario()">⬅️ Volver atrás</button>
      <br>
      <h3>Asociar Investigadores</h3>
      <div >
        <input class="id_input" type="number" placeholder="ID del investigador" formControlName="nuevoInvestigadorId">
        <button type="submit" (click)="asociarInvestigador()">➕ Asociar Investigador</button>
      </div>

    </form>
  </div>
</div>

<!-- FORMULARIO DE EDICIÓN EMERGENTE -->
<div *ngIf="mostrarForm && editando && publicacionSeleccionada && !mostrandoDetalles" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-content">
    <h2>Editar Publicación</h2>
    <form [formGroup]="publicacionForm" (ngSubmit)="guardarPublicacion()">
      <div class="form-group">
        <label>Descripción:</label>
        <input formControlName="result_description" placeholder="Descripción">
      </div>
      <div class="form-group">
        <label>Fecha de publicación:</label>
        <input formControlName="fecha_publicacion" type="date">
      </div>
      <div class="form-group">
        <label>DOI:</label>
        <input formControlName="doi" placeholder="DOI">
      </div>
      <button type="submit">Actualizar</button>
      <button class="back-button" (click)="cerrarFormulario()">⬅️ Volver atrás</button>
      <br>
      <h3>Investigadores Asociados</h3>
      <ul>
        <li *ngFor="let investigador of investigadoresDePublicacion">
          {{ investigador.nombre_investigador }} (ID: {{ investigador.iid_number }})
          <button (click)="eliminarInvestigador(investigador.iid_number)" class="eliminar">❌ Eliminar</button>
        </li>
      </ul>
      <div>
        <input class="id_input" type="number" placeholder="ID del investigador" formControlName="nuevoInvestigadorId">
        <button (click)="asociarInvestigador()" class="asociar">➕ Asociar Investigador</button>
      </div>
    </form>
  </div>
</div>

<!-- VENTANA EMERGENTE DE INFORMACIÓN SOLO AL PULSAR LA DESCRIPCIÓN -->
<div *ngIf="publicacionSeleccionada && mostrandoDetalles" class="popup-form" (click)="cerrarDetalles()">
  <div class="popup-content">
    <h2>Información de la Publicación</h2>
    <p><strong>ID:</strong> {{ publicacionSeleccionada.result_code }}</p>
    <p><strong>Descripción:</strong> {{ publicacionSeleccionada.result_description }}</p>
    <p><strong>Fecha de publicación:</strong> {{ publicacionSeleccionada.fecha_publicacion | date }}</p>
    <p><strong>DOI:</strong> {{ publicacionSeleccionada.doi }}</p>
    <h3>Investigadores Asociados</h3>
    <ul>
      <li *ngFor="let investigador of investigadoresDePublicacion">
        {{ investigador.nombre_investigador }} (ID: {{ investigador.iid_number }})
      </li>
    </ul>
    <button class="back-button" (click)="cerrarDetalles()">⬅️ Volver atrás</button>
  </div>
</div>
