<div class="estadisticas-container">
  <button (click)="mostrarVista('proyectosPorCategoria')">Proyectos por categoría</button>
  <button (click)="mostrarVista('usuariosPorInstitucion')">Usuarios por Grupo</button>
  <button (click)="mostrarVista('proyectosPorUsuario')">Proyectos por Usuario</button>
  <button (click)="mostrarVista('proyectosPorAño')">Proyectos por Año</button>
  <button (click)="mostrarVista('publicacionesPorInvestigador')">Publicaciones por Investigador</button>
</div>

<!-- Secciones de gráficos -->
<div *ngIf="vistaActual === 'proyectosPorCategoria'" class="detalles">
  <canvas id="proyectosPorCategoria"></canvas>
</div>

<div *ngIf="vistaActual === 'usuariosPorInstitucion'" class="detalles">
  <canvas id="usuariosPorGrupo"></canvas>
</div>

<div *ngIf="vistaActual === 'proyectosPorUsuario'" class="detalles">
  <canvas id="proyectosPorUsuario"></canvas>
</div>

<div *ngIf="vistaActual === 'proyectosPorAño'" class="detalles">
    <canvas id="proyectosPorAño"></canvas>
</div>

<div *ngIf="vistaActual === 'publicacionesPorInvestigador'" class="detalles">
    <canvas id="publicacionesPorInvestigador"></canvas>
</div>