<div class="estadisticas-container">
    <button (click)="mostrarVista('usuariosPorGrupo')">Usuarios por Grupo</button>
    <button (click)="mostrarVista('proyectosPorCategoria')">Proyectos por categoría</button>
    <button (click)="mostrarVista('usuariosPorProyecto')">Usuarios por proyecto</button>
    <button (click)="mostrarVista('proyectosPorAño')">Proyectos por Año</button>
    <button (click)="mostrarVista('publicacionesPorInvestigador')">Publicaciones por Investigador</button>
    <button (click)="mostrarVista('publicacionesPorAño')">Publicaciones por Año</button>
</div>

<div *ngIf="vistaActual === 'proyectosPorCategoria'" class="detalles">
    <canvas id="proyectosPorCategoria"></canvas>
</div>

<div *ngIf="vistaActual === 'usuariosPorGrupo'" class="detalles">
    <canvas id="usuariosPorGrupo"></canvas>
</div>

<div *ngIf="vistaActual === 'usuariosPorProyecto'" class="detalles">
    <canvas id="usuariosPorProyecto"></canvas>
</div>

<div *ngIf="vistaActual === 'proyectosPorAño'" class="detalles">
    <canvas id="proyectosPorAño"></canvas>
</div>

<div *ngIf="vistaActual === 'publicacionesPorInvestigador'" class="detalles">
    <canvas id="publicacionesPorInvestigador"></canvas>
</div>

<div *ngIf="vistaActual === 'publicacionesPorAño'" class="detalles">
    <canvas id="publicacionesPorAño"></canvas>
</div>