<h1>Gestión de Usuarios</h1>

<input type="text" placeholder="Búsqueda por nombre" [(ngModel)]="busqueda" class="buscador" />

<button *ngIf="authService.isLoggedIn()" (click)="mostrarFormulario($event)">➕ Añadir Usuario</button>
<div class="tabla-responsiva">
  <table class="usuarios-table">
    <thead>
      <tr>
        <th *ngIf="authService.isLoggedIn()">Acciones</th>
        <th>Nombre</th>
        <th>Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let usuario of usuariosFiltrados">
        <td *ngIf="authService.isLoggedIn()">
          <div class="botones-accion">
            <button *ngIf="authService.isLoggedIn()" (click)="editarUsuario(usuario, $event)">✏️ Editar</button>
            <button *ngIf="authService.isLoggedIn()" (click)="eliminarUsuario(usuario.uid_number)">❌ Eliminar</button>
          </div>         
        </td>
        <td (click)="mostrarDetalles(usuario)">
          {{ usuario.nombre_usuario }}
        </td>

        <td (click)="mostrarDetalles(usuario)">
          {{usuario.contacto}}
        </td>
        
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="mostrarForm && !editando" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-contentm">
    <h2>Nuevo Usuario</h2><p>Los campos con * son obligatorios</p>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()">
      <div class="form-group">
        <label>Nombre:*</label>
        <input formControlName="nombre_usuario" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label>Fecha de alta:</label>
        <input formControlName="fecha_alta" type="date" placeholder="Fecha de alta">
      </div>
      <div class="form-group">
        <label>Fecha de baja:</label>
        <input formControlName="fecha_baja" type="date" placeholder="Fecha de baja">
      </div>
      <div class="form-group">
        <label>Correo:</label>
        <input formControlName="contacto" type="email" placeholder="Correo">
      </div>
      <div class="form-group">
        <label>Teléfono:</label>
        <input formControlName="telefono" placeholder="Teléfono">
      </div>
      <div class="form-group">
        <label>ORCID:</label>
        <input formControlName="orcid" placeholder="ORCID">
      </div>
      <div class="form-group">
        <label>Scholar:</label>
        <input formControlName="scholar" placeholder="Scholar">
      </div>
      <div class="form-group">
        <label>WOS:</label>
        <input formControlName="wos" placeholder="WOS">
      </div>
      <div class="form-group">
        <label>Scopus:</label>
        <input formControlName="scopus" placeholder="Scopus">
      </div>
      <div class="form-group">
        <label>RES:</label>
        <input formControlName="res" placeholder="RES">
      </div>
      <h3>Información del Investigador</h3>
      <div class="form-group">
        <label>Nombre del Investigador:*</label>
        <input formControlName="nombre_investigador" placeholder="Nombre del Investigador">
      </div>
      <button type="submit">Guardar</button>
      <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>
        
    </form>
  </div>
</div>

<!-- FORMULARIO DE EDICIÓN EMERGENTE -->
<div *ngIf="mostrarForm && editando && usuarioSeleccionado && !mostrandoDetalles" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-content">
    <h2>Editar Usuario</h2>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()">
      <div class="form-group">
        <label>Nombre:</label>
        <input formControlName="nombre_usuario" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label>Investigador Asociado:  </label>
        <input [value]="usuarioSeleccionado.nombre_investigador" readonly>
      </div>
      <div class="form-group">
        <label>Fecha de alta:</label>
        <input formControlName="fecha_alta" type="date">
      </div>
      <div class="form-group">
        <label>Fecha de baja:</label>
        <input formControlName="fecha_baja" type="date">
      </div>
      <div class="form-group activo-checkbox">
        <label><input type="checkbox" formControlName="activo"> Activo</label>
      </div>
      <div class="form-group">
        <label>Correo:</label>
        <input formControlName="contacto" type="email">
      </div>
      <div class="form-group">
        <label>Teléfono:</label>
        <input formControlName="telefono">
      </div>
      <button type="submit">Actualizar</button>
      <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>

      <div *ngIf="usuarioSeleccionado" class="proyectos-asociados">
        <h2>Proyectos de {{ usuarioSeleccionado.nombre_usuario }}</h2>
        <ul>
          <li *ngFor="let proyecto of proyectosDelUsuario">
            {{ proyecto.titulo }} (ID: {{ proyecto.pid_number }})
            <button type="submit" (click)="eliminarProyectoDelUsuario(proyecto.pid_number)">❌ Eliminar</button>
            </li>
        </ul>
        <div>
          <input class="id_input" type="number" placeholder="ID del proyecto" formControlName="proyectoIdParaAsociar">
          <button  (click)="asociarProyecto()">Añadir Proyecto</button>
        </div>
      </div>
      <div *ngIf="usuarioSeleccionado" class="grupos-asociados">
      <h2>Grupos de {{ usuarioSeleccionado.nombre_usuario }}</h2>
      <ul>
        <li *ngFor="let grupo of gruposDelUsuario">
          {{ grupo.nombre_grupo }} (ID: {{ grupo.gid_number }})
          <button type="button" (click)="eliminarGrupoDelUsuario(grupo.gid_number)">❌ Eliminar</button>
        </li>
      </ul>
      <div>
        <input class="id_input" type="number" placeholder="ID del grupo" formControlName="grupoIdParaAsociar">
        <button type="button" (click)="asociarGrupo()">Añadir Grupo</button>
      </div>
    </div>
    </form>
  </div>
</div>

<div *ngIf="usuarioSeleccionado && mostrandoDetalles" class="popup-form" (click)="cerrarDetalles()">
  <div class="popup-content">
    <h2>Información de {{ usuarioSeleccionado.nombre_usuario }}</h2>
    <p><strong>ID:</strong> {{ usuarioSeleccionado.uid_number }}</p>
    <p><strong>Nombre:</strong> {{ usuarioSeleccionado.nombre_usuario }}</p>
    <p><strong>Fecha de alta:</strong> {{ usuarioSeleccionado.fecha_alta | date }}</p>
    <p><strong>Fecha de baja:</strong> {{ usuarioSeleccionado.fecha_baja | date }}</p>
    <p><strong>Correo:</strong> {{ usuarioSeleccionado.contacto }}</p>
    <p><strong>Teléfono:</strong> {{ usuarioSeleccionado.telefono }}</p>
    <p><strong>Activo:</strong> {{ usuarioSeleccionado.activo ? '✅ Sí' : '❌ No' }}</p>
    <p><strong>Investigador:</strong> {{ usuarioSeleccionado.nombre_investigador}}</p>
    <div *ngIf="usuarioSeleccionado" class="proyectos-asociados">
      <h2>Proyectos de {{ usuarioSeleccionado.nombre_usuario }}</h2>
      <ul>
        <li *ngFor="let proyecto of proyectosDelUsuario">
          <a [href]="proyecto.pdf_url" target="_blank">{{ proyecto.titulo }}</a> (ID: {{ proyecto.pid_number }})
          </li>
      </ul>
    </div>
    <div *ngIf="usuarioSeleccionado" class="grupos-asociados">
      <h2>Grupos de {{ usuarioSeleccionado.nombre_usuario }}</h2>
      <ul>
        <li *ngFor="let grupo of gruposDelUsuario">
          {{ grupo.nombre_grupo }} (ID: {{ grupo.gid_number }})
        </li>
      </ul>
    </div>
    <button class="back-button" (click)="cerrarDetalles()">Volver</button>
  </div>
</div>

