<h1>Gestión de Grupos</h1> 

<input type="text" placeholder="Buscar por ID de grupo" [(ngModel)]="busqueda" class="buscador" />

<button *ngIf="authService.isLoggedIn()" (click)="mostrarFormulario($event)">➕ Añadir Grupo</button>

<table class="grupos-table">
  <thead>
    <tr>
      <th *ngIf="authService.isLoggedIn()">Acciones</th>
      <th>ID de Grupo</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grupo of gruposFiltrados">
      <td *ngIf="authService.isLoggedIn()">
        <button *ngIf="authService.isLoggedIn()" (click)="editarGrupo(grupo, $event)">✏️ Editar</button>
        <button *ngIf="authService.isLoggedIn()"(click)="eliminarGrupo(grupo.gid_number)">❌ Eliminar</button>
      </td>
      <td (click)="mostrarDetalles(grupo)">
        {{ grupo.gid_number }}
      </td>
      <td (click)="mostrarDetalles(grupo)">
        {{ grupo.nombre }}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="mostrarForm && !editando" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-contentm">
    <h2>Nuevo Grupo</h2>
    <form [formGroup]="grupoForm" (ngSubmit)="guardarGrupo()">
      <p>Nombre: <input formControlName="nombre" placeholder="Nombre del grupo" class="barra"></p>
      <button type="submit">Guardar</button>
      <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>
    </form>
  </div>
</div>

<!-- FORMULARIO DE EDICIÓN EMERGENTE -->
<div *ngIf="mostrarForm && editando && grupoSeleccionado && !mostrandoDetalles" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-content">
    <h2>Editar Grupo</h2>
    <form [formGroup]="grupoForm" (ngSubmit)="guardarGrupo()">
      <div class="form-group">
        <label>Nombre:</label>
        <input formControlName="nombre" placeholder="Nombre del grupo">
      </div>
      <div *ngIf="usuariosDelGrupo.length > 0">
        <h3>Usuarios en este grupo:</h3>
        <ul>
          <li *ngFor="let usuario of usuariosDelGrupo">
            {{ usuario.nombre_usuario }}
            <button (click)="eliminarUsuario(usuario.uid_number)">❌</button>
          </li>
        </ul>
      </div>    
      <button type="submit">Actualizar</button>
      <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>
    </form>
  </div>
</div>

<!-- VENTANA EMERGENTE DE INFORMACIÓN SOLO AL PULSAR EL NOMBRE DEL GRUPO -->
<div *ngIf="grupoSeleccionado && mostrandoDetalles" class="popup-form" (click)="cerrarDetalles()">
  <div class="popup-content">
    <h2>Información del Grupo</h2>
    <p><strong>ID:</strong> {{ grupoSeleccionado.gid_number }}</p>
    <p><strong>Nombre:</strong> {{ grupoSeleccionado.nombre }}</p>
    <h3>Usuarios en este grupo:</h3>
    <ul>
      <li *ngFor="let usuario of usuariosDelGrupo">
        {{ usuario.nombre_usuario }} (ID: {{ usuario.uid_number }})
      </li>
    </ul>
    <button class="back-button" (click)="cerrarDetalles()">⬅️ Volver atrás</button>
  </div>
</div>
