<h1>Gestión de Proyectos</h1>

<input type="text" placeholder="Buscar por títulos" [(ngModel)]="busqueda" class="buscador">

<button *ngIf="authService.isLoggedIn()" (click)="mostrarFormulario($event)">➕ Añadir Proyecto</button>

<div class="tabla-responsiva">
  <table class="proyectos-table">
      <thead>
        <tr>
          <th *ngIf="authService.isLoggedIn()">Acciones</th>
          <th>Título</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectosFiltrados">
          <td *ngIf="authService.isLoggedIn()">
            <button *ngIf="authService.isLoggedIn()" (click)="editarProyecto(proyecto, $event)">✏️ Editar</button>
            <button *ngIf="authService.isLoggedIn()" (click)="eliminarProyecto(proyecto.pid_number)">❌ Eliminar</button>
          </td>
          <td (click)="mostrarDetalles(proyecto)">
            {{ proyecto.titulo }}
          </td>
        </tr>
      </tbody>
    </table>
</div>

  <!-- FORMULARIO DE CREACIÓN EMERGENTE -->

  <div *ngIf="mostrarForm && !editando" class="popup-form" (click)="onFormClick($event)">
    <div class="popup-content">
      <h2>Nuevo Proyecto</h2>
      <form [formGroup]="proyectoForm" (ngSubmit)="guardarProyecto()">
        <div class="form-group">
          <label>Título:</label>
          <input formControlName="titulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label>Fecha de inicio:</label>
          <input formControlName="fecha_inicio" type="date">
        </div>
        <div class="form-group">
          <label>Fecha de fin:</label>
          <input formControlName="fecha_fin" type="date">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input formControlName="email">
        </div>
        <div class="form-group">
          <label>Institución:</label>
          <input formControlName="institucion">
        </div>
        <div class="form-group">
          <label>Procedencia:</label>
          <input id="procedencia" formControlName="procedencia">
        </div>
        <div class="form-group">
          <label>Categoría:</label>
          <input id="categoria" formControlName="categoria">
        </div>
        <button type="submit">Guardar</button>
        <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>
      </form>
    </div>
  </div>
      
  <!-- FORMULARIO DE EDICIÓN EMERGENTE -->
  <div *ngIf="mostrarForm && editando && proyectoSeleccionado && !mostrandoDetalles" class="popup-form" (click)="onFormClick($event)">
    <div class="popup-content">
      <h2>Editar Proyecto</h2>
      <form [formGroup]="proyectoForm" (ngSubmit)="guardarProyecto()">
        <div class="form-group">
          <label>Título:</label>
          <input formControlName="titulo" placeholder="Título">
        </div>
        <div class="form-group">
          <label>Fecha de inicio:</label>
          <input formControlName="fecha_inicio" type="date">
        </div>
        <div class="form-group">
          <label>Fecha de fin:</label>
          <input formControlName="fecha_fin" type="date">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input formControlName="email">
        </div>
        <div class="form-group">
          <label>Institución:</label>
          <input formControlName="institucion">
        </div>
        <div class="form-group">
          <label>Procedencia:</label>
          <input id="procedencia" formControlName="procedencia">
        </div>
        <div class="form-group">
          <label>Categoría:</label>
          <input id="categoria" formControlName="categoria">
        </div>
        <h3>Usuarios asociados:</h3>
        <ul>
          <li *ngFor="let usuario of usuariosDelProyecto">
            {{ usuario.nombre_usuario }} (ID: {{ usuario.uid_number }})
            <button  (click)="eliminarUsuario(usuario.uid_number)">❌ Eliminar</button>
          </li>
        </ul>
        
        <button type="submit">Actualizar</button>
        <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>

        <div class="form-group">
          <label>ID de usuario a asociar:</label>
          <input type="number" [(ngModel)]="usuarioIdParaAgregar" [ngModelOptions]="{standalone: true}" name="usuarioIdEdit" placeholder="ID del usuario">
          <button type="submit" (click)="asociarUsuarioAProyecto(proyectoSeleccionado.pid_number)">➕ Asociar</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- VENTANA EMERGENTE DE INFORMACIÓN SOLO AL PULSAR EL TÍTULO -->
  <div *ngIf="proyectoSeleccionado && mostrandoDetalles" class="popup-form" (click)="cerrarDetalles()">
    <div class="popup-content">
      <h2>Información del Proyecto</h2>
      <p><strong>ID:</strong> {{ proyectoSeleccionado.pid_number }}</p>
      <p><strong>Título:</strong> {{ proyectoSeleccionado.titulo }}</p>
      <p><strong>Fecha de inicio:</strong> {{ proyectoSeleccionado.fecha_inicio | date }}</p>
      <p><strong>Fecha de fin:</strong> {{ proyectoSeleccionado.fecha_fin | date }}</p>
      <p><strong>Institución:</strong> {{ proyectoSeleccionado.institucion }}</p>
      <p><strong>Categoría:</strong> {{ proyectoSeleccionado.categoria }}</p>
      <h3>Usuarios asociados</h3>
          <ul>
              <li *ngFor="let usuario of usuariosDelProyecto">
                  {{ usuario.nombre_usuario }} (ID: {{ usuario.uid_number }})
              </li>
          </ul>
      <button class="back-button" (click)="cerrarDetalles()">⬅️ Volver atrás</button>
    </div>
  </div>