<div class="container">
   
    <nav class="sidebar">
        <h1>Bienvenido a AcceX</h1>
        <ul>
            <li><button (click)="goToUsuarios()">Ir a los usuarios</button></li>
            <li><button (click)="goToProyectos()">Ir a los proyectos</button></li>
            <li><button (click)="goToInvestigadores()">Ir a los investigadores</button></li>
            <li><button (click)="goToPublicaciones()">Ir a las publicaciones</button></li>
            <li><button (click)="goToGrupos()">Ir a los grupos</button></li>
        </ul>
        <button (click)="logout()">Cerrar sesión</button>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>