<h1>Gestión de Investigadores</h1>

<input type="text" placeholder="Buscar por nombre" [(ngModel)]="busqueda" class="buscador">

<button *ngIf="authService.isLoggedIn()" (click)="mostrarFormulario($event)">➕ Añadir Investigador</button>
<div class="tabla-responsiva">
  <table class="investigadores-table">
      <thead>
        <tr>
          <th *ngIf="authService.isLoggedIn()">Acciones</th>
          <th>Nombre</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investigador of investigadoresFiltrados">
          <td *ngIf="authService.isLoggedIn()">
            <div class="botones-accion">
              <button *ngIf="authService.isLoggedIn()"  (click)="editarInvestigador(investigador, $event)">✏️ Editar</button>
              <button *ngIf="authService.isLoggedIn()" (click)="eliminarInvestigador(investigador.iid_number)">❌ Eliminar</button>
            </div>
          </td>
          <td (click)="mostrarDetalles(investigador)">
            {{ investigador.nombre_investigador }}
          </td>
          <td (click)="mostrarDetalles(investigador)">
            {{ investigador.correo }}
          </td>
        </tr>
      </tbody>
    </table>
</div>
<!-- FORMULARIO PARA NUEVO INVESTIGADOR -->
<div *ngIf="mostrarForm && !editando" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-content">
    <h2>Nuevo Investigador</h2><p>Los campos con * son obligatorios</p>
    <form [formGroup]="investigadorForm" (ngSubmit)="guardarInvestigador()">
      <div class="form-group">
        <label>Nombre:*</label>
        <input formControlName="nombre_investigador" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label>Correo:</label>
        <input formControlName="correo" type="email" placeholder="Correo">
      </div>
      <hr>
      <h3>Datos de Usuario</h3>
      <div class="form-group">
        <label>Nombre de Usuario:*</label>
        <input formControlName="nombre_usuario" placeholder="Nombre de Usuario">
      </div>
      <div class="form-group">
        <label>Grupo (GID):*</label>
        <input formControlName="gid_number" type="number" placeholder="ID del Grupo">
      </div>
      <div class="form-group">
        <label>Teléfono:</label>
        <input formControlName="telefono" placeholder="Teléfono">
      </div>
      <div class="form-group">
        <label>ORCID:</label>
        <input formControlName="orcid" placeholder="ORCID">
      </div>
      <div class="form-group">
        <label>Scholar:</label>
        <input formControlName="scholar" placeholder="Google Scholar">
      </div>
      <div class="form-group">
        <label>WOS:</label>
        <input formControlName="wos" placeholder="Web of Science">
      </div>
      <div class="form-group">
        <label>Scopus:</label>
        <input formControlName="scopus" placeholder="Scopus">
      </div>
      <div class="form-group">
        <label>RES:</label>
        <input formControlName="res" placeholder="RES (Supercomputación)">
      </div>
      <button type="submit">Guardar</button>
      <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>
    </form>
  </div>
</div>

<!-- FORMULARIO DE EDICIÓN -->
<div *ngIf="mostrarForm && editando && investigadorSeleccionado" class="popup-form" (click)="onFormClick($event)">
  <div class="popup-content">
    <h2>Editar Investigador</h2>
    <form [formGroup]="investigadorForm" (ngSubmit)="guardarInvestigador()">
      <div class="form-group">
        <label>Nombre:</label>
        <input formControlName="nombre_investigador" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label>Usuario asociado:</label>
        <input formControlName="nombre_usuario" [value]="investigadorSeleccionado.nombre_usuario" readonly>
      </div>
      <div class="form-group">
        <label>Correo:</label>
        <input formControlName="correo" type="email" placeholder="Correo">
      </div>
      <button type="submit">Actualizar</button>
      <button type="button" class="back-button" (click)="cerrarFormulario()">Volver</button>

      <!-- PUBLICACIONES ASOCIADAS -->
      <div *ngIf="investigadorSeleccionado">
        <h3>Publicaciones Asociadas</h3>
        <ul>
          <li *ngFor="let publicacion of publicacionesDelInvestigador">
            {{ publicacion.result_description }} (ID: {{ publicacion.result_code }})
            <button (click)="eliminarPublicacion(publicacion.result_code)">❌ Eliminar</button>
          </li>
        </ul>
        <div>
          <input type="number" placeholder="ID de la publicación" formControlName="publicacionIdParaAsociar">
          <button (click)="asociarPublicacion()">➕ Asociar Publicación</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- INFORMACIÓN DEL INVESTIGADOR -->
<div *ngIf="investigadorSeleccionado && mostrandoDetalles" class="popup-form" (click)="cerrarDetalles()">
  <div class="popup-contentm">
    <h2>Información de {{ investigadorSeleccionado.nombre_investigador }}</h2>
    <p><strong>ID:</strong> {{ investigadorSeleccionado.iid_number }}</p>
    <p><strong>Correo:</strong> {{ investigadorSeleccionado.correo }}</p>
    <p><strong>Nombre usuario:</strong> {{ investigadorSeleccionado.nombre_usuario }}</p>
    <p><strong>Publicaciones Asociadas:</strong></p>
    <ul>
      <li *ngFor="let publicacion of publicacionesDelInvestigador">
        {{ publicacion.titulo }} (ID: {{ publicacion.result_code }})
      </li>
    </ul>
    <button class="back-button" (click)="cerrarDetalles()">Volver</button>
  </div>
</div>
